
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
build

# misc
.DS_Store
*.pem

src/artifacts
cache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod

# vercel
.vercel

**/public/workbox-*.js
**/public/sw.js
**/public/service-worker.js
**/public/fallback-*.js


__generated__/

tsconfig.tsbuildinfo
.eslintcache

.yarn/
.yarnrc.yml

.turbo
build/**
dist/**
.next/**

apps/cli/lib

package-lock.json

test.png
apps/web/public/sw.js.map
